* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: lightgray;
  --text-color: #020312;
  --main-color: tan;
  --second-color: gray;
  --other-color: #12141c;
  --h1-font: 5.2rem;
  --h2-font: 3.5rem;
  --p-font: 1.1rem;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

.dark-mode {
  color: #fff;
  background: #020312;
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  top: 0;
  left: 0;
  background-color: #012;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 3s infinite ease-in-out;
  animation: load7 3s infinite ease-in-out;
}

.loader {
  color: #ffffff;
  font-size: 8px;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 1 10.5em 0 -1.3em;
  }

  40% {
    box-shadow: 1.5em 0 0;
  }
}

@keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 1 10.5em 0 -1.3em;
  }

  40% {
    box-shadow: 1.5em 0 0;
  }
}

.disappear {
  animation: vanish 5s forwards;
}

@keyframes vanish {
  100% {
    opacity: 1;
    visibility: hidden;
  }
}

/* The switch - the box around the slider */
.switch {
  --width-of-switch: 3em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.2em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  ;
  transition: .4s;
}

input:checked+.slider {
  background-color: #303136;
}

input:checked+.slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}



header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 16%;
  border-bottom: 1px solid transparent;
  transition: all .40 ease;
}

.logo img {
  width: 135px;
  height: 50px;
}

.nav-bar {
  display: flex;
  position: absolute;
  left: 20rem;
}


.nav-bar a {
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 600;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 0.5rem;
  transition: all .40s ease;

}

.nav-bar a:hover {
  background: var(--main-color);
  color: var(--text-color);
}

#menu-icon {
  font-size: 36px;
  color: var(--second-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 140px 10% 70px;
}

.home {
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-b {
  display: flex;
  background: url(/image/IMG_1725.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 10%;
  border-radius: 10px;
  height: 500px;
  width: 450px;
}

.home-text h1 {
  margin: 20px 0;
  font-size: var(--h1-font);
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 2px;
}

span {
  color: var(--main-color);
}

.home-text h4 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
}

.home-text h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  padding: 14px 40px;
  border-radius: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  background: var(--main-color);
  color: var(--second-color);
  border: 1px solid var(--main-color);
  transition: all .40s ease;
}

.btn:hover {
  transform: scale(1.01) translateY(-5px);
  background: transparent;
  border: 1px solid var(--main-color);
}

header.sticky {
  padding: 10px 16%;
  background: var(--bg-color);
  border-bottom: 1px solid #0e1630;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.about-text h4 {
  margin: 10px 0;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}

.about-text h2 {
  font-size: var(--h2-font);
}

.about-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 2rem;
}

.about-gri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.about-in h5 {
  font-size: 22px;
  font-weight: 600;
}

.about-img img {
  height: auto;
  width: 100%;
  max-width: 460px;
}

.main-text {
  text-align: center;
}

.main-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 10px;
}

.main-text h4 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
}

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 5rem;
}

.box {
  padding: 45px;
  background: #12141c;
  border-top: 4px solid transparent;
  transition: all .40s ease;
  cursor: pointer;
}

.box h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
  transition: all .40s ease;
  color: var(--bg-color);
}

.box p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
}

.box:hover {
  transform: scale(1.01) translateY(-5px);
  border-top: 5px solid var(--main-color);
}

.box:hover h3 {
  color: var(--main-color);
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.row img {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.row {
  padding: 25px;
  background: #12141c;
  border-radius: 0.5rem;
  transition: all .40s ease;
}

.main-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.row h3 {
  font-size: 25px;
  font-weight: 700;
  color: var(--bg-color);
}

.row h6 {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.row-icon i {
  font-size: 21px;
  color: var(--second-color);
}

.row:hover {
  transform: scale(1.01) translateY(-5px);
  cursor: pointer;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
}

.contact-text h4 {
  margin: 15px 0;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}

.contact-text h2 {
  font-size: var(--h2-font);
}

.contact-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 2rem;
}

.contact-list {
  margin-bottom: 3rem;
}

.contact-list li {
  margin-bottom: 10px;
  display: block;
}

.contact-list li a {
  display: block;
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 600;
  transition: all .40s ease;
}

.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: var(--main-color);
}

.contact-icons i {
  height: 40px;
  width: 40px;
  background: #12141c;
  border-radius: 0.5rem;
  color: var(--main-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-right: 10px;
  transition: all .40s ease;
}

.contact-icons i:hover {
  transform: scale(1.01) translateY(-5px);
  color: var(--text-color);
  background: var(--main-color);
}

.contact-form form {
  position: relative;
}

.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 18px;
  background: #12141c;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.contact-form textarea {
  resize: none;
  height: 220px;
}

.contact-form form .send {
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  background: var(--main-color);
  color: var(--text-color);
  width: 190px;
  transition: all .40s ease;
  cursor: pointer;
}

.last-text {
  text-align: center;
  padding: 15px;
  color: var(--second-color);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}

.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}

.top i {
  color: var(--text-color);
  background: var(--main-color);
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}

@media (max-width: 1366px) {
  header {
    padding: 20px 5%;
  }

  header.sticky {
    padding: 10px 5%;
    background: beige;
  }

  label.switch {
    display: block;
    position: absolute;
    right: 6rem;
  }


  section {
    padding: 140px 10% 70px;
  }

  .services-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 20px 5%;
  }

  header.sticky {
    padding: 10px 5%;
  }

  .nav-bar a {
    padding: 5px 5px;
  }

  label.switch {
    right: 1rem;
  }

  .about {
    grid-template-columns: repeat(2, 1fr);
  }

  section {
    padding: 130px 10% 60px;
  }

  .services-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1312px) {
  header {
    padding: 20px 5%;
  }

  header.sticky {
    padding: 10px 5%;
  }

  section {
    padding: 120px 10% 50px;
  }

  .services-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {
  :root {
    --h1-font: 4.2rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
  }

  section {
    padding: 70px 10% 60px;
  }

  .home {
    height: 85vh;
  }

  .nav-bar {
    left: 12rem;
  }



  .about {
    grid-template-columns: repeat(4fr)
  }

  .about-img {
    text-align: center;
  }

  .services-content {
    grid-template-columns: repeat(1fr);
    gap: 0.5rem;

  }

  .portfolio-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .row {
    padding: 15px;
    background: #12141c;
    border-radius: 0.5rem;
    transition: all .40s ease;
  }

  .main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 970px) {
  :root {
    --h1-font: 4.2rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
  }

  section {
    padding: 70px 9.5% 60px;
  }

  .home {
    height: 85vh;
  }

  .about {
    grid-template-columns: repeat(4, 1fr);
  }

  .about-img {
    text-align: center;
  }

  .services-content {
    grid-template-columns: repeat(1fr);
    gap: 0.5rem;

  }

  .contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 830px) {
  .services-content {
    grid-template-columns: 2fr;
    gap: 0.5rem;
  }

  section {
    padding: 60px 9.5% 60px;
  }

  #menu-icon {
    display: block;
  }

  .nav-bar {
    position: absolute;
    top: -600px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #12141c;
    text-align: left;
    transition: all .40s ease;
  }

  .nav-bar a {
    display: block;
    padding: 1rem;
    margin: 1rem;
  }

  .nav-bar.active {
    top: 100%;
  }

  :root {
    --h1-font: 3.7rem;
    --h2-font: 2.7rem;
  }

}


@media screen and (min-width: 720px) and (max-width: 992px) {
  :root {
    --h1-font: 3.0rem;
    --h2-font: 2.0rem;
    --p-font: 1rem;
  }

  section {
    padding: 70px 10% 60px;
  }

  .home {
    height: 85vh;
  }

  .home-b {
    right: 20%;
    height: 250px;
    width: 200px;
  }

  label.switch {
    right: 4.5rem;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about-img {
    text-align: center;
  }

  .services-content {
    grid-template-columns: 1fr;
  }

  .portfolio-content {
    grid-template-columns: 1fr;
  }

  .contact {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 588px)and (max-width: 719px) {
  :root {
    --h1-font: 3.0rem;
    --h2-font: 2.0rem;
    --p-font: 1rem;
  }

  section {
    padding: 70px 7.5% 60px;
  }

  .home {
    height: 85vh;
  }

  .home-b {
    right: 15%;
    height: 200px;
    width: 135px;
  }

  label.switch {
    right: 3.9rem;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about-img {
    text-align: center;
  }

  .services-content {
    grid-template-columns: 1fr;
  }

  .portfolio-content {
    grid-template-columns: 1fr;
  }

  .contact {
    grid-template-columns: 1fr;
  }
}

/*  */

@media (max-width: 375px) {
  :root {
    --h1-font: 2.0rem;
    --h2-font: 1.5rem;
    --p-font: 1rem;
  }

  section {
    padding: 70px 4% 60px;
  }

  .home {
    height: 80vh;
  }

  label.switch {
    right: 3.5rem;
  }

  .home-text h4 {
    margin-top: 5em;
  }

  .home-text h3 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .home-b {
    right: 15%;
    height: 200px;
    width: 130px;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about-img {
    text-align: center;
  }


  .services-content {
    grid-template-columns: 1fr;
  }

  .portfolio-content {
    grid-template-columns: 1fr;
  }

  .contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
  :root {
    --h1-font: 2.5rem;
    --h2-font: 1.5rem;
    --p-font: 1rem;
  }

  section {
    padding: 70px 3.5% 60px;
  }

  .home {
    height: 80vh;
  }

  label.switch {
    right: 3.5rem;
  }

  .home-text h4 {
    margin-top: 5em;
  }

  .home-text h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .home-b {
    right: 15%;
    height: 250px;
    width: 150px;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about-img {
    text-align: center;
  }

  .services-content {
    grid-template-columns: 1fr;
  }

  .portfolio-content {
    grid-template-columns: 1fr;
  }

  .contact {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 320px) and (max-width: 587px)and (max-height: 876px) {
  :root {
    --h1-font: 2.5rem;
    --h2-font: 1.5rem;
    --p-font: 1rem;
  }



  section {
    padding: 70px 3.5% 60px;
  }

  .home {
    height: 80vh;
  }

  label.switch {
    right: 3.5rem;
  }

  .home-text h4 {
    margin-top: 5em;
  }

  .home-text h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .home-b {
    right: 15%;
    height: 170px;
    width: 100px;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about-img {
    text-align: center;
  }

  .services-content {
    grid-template-columns: 1fr;
  }

  .portfolio-content {
    grid-template-columns: 1fr;
  }


  .contact {
    grid-template-columns: 1fr;
  }
}

.hero {
  width: 100%;
  position: relative;
  height: 100vh;
}

.hero h1 {
  text-align: center;
  padding-top: 80px;
  font-size: 40px;

}

.slide-row {
  display: flex;
  width: 3200px;
  transition: 0.5s;
}

.slide-col {
  width: 800px;
  height: 400px;
  position: relative;
}

.user-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.user-img img {
  height: 100%;
  border-radius: 10px;
}

.user-text {
  background: var(--other-color);
  width: 520px;
  height: 270px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  color: #d3d4d6;
  padding: 45px;
  box-sizing: border-box;
  z-index: 2;
}

.user-text p {
  font-size: 18px;
  line-height: 24px;
}

.user-text h3 {
  margin: 35px 0 5px;
  color: #fff;
}

.Container {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
}

.Indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.button {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.Active {
  width: 45px;
}

.Testimonial {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 375px) and (max-width: 992px) {
  .hero {
    margin-top: 40px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .Container {
    width: 375px;
    height: 400px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .user-text {
    width: 375px;
    height: 360px;
    padding: 25px;
  }

  .user-text p {
    font-size: 16px;
    position: relative;
    top: 70px;
  }

  .user-text h3 {
    position: relative;
    top: 60px;
  }

  .user-img {
    position: relative;
    z-index: 2;
    left: 20px;
  }

  .user-img img {
    width: 175px;
    max-height: 100px;
  }

  .Indicator {
    bottom: 1px;
  }
}

@media screen and (max-width: 320px) {
  .hero {
    margin-top: 40px;
  }

  .hero h1 {
    font-size: 30px;
  }

  .Container {
    width: 320px;
    height: 360px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .user-text {
    width: 320px;
    height: 370px;
    padding: 25px;
  }

  .user-text p {
    font-size: 16px;
    position: relative;
    top: 70px;
  }

  .user-text h3 {
    position: relative;
    top: 60px;
  }

  .user-img {
    position: relative;
    z-index: 2;
    left: 20px;
  }

  .user-img img {
    width: 175px;
    max-height: 100px;
  }

  .Indicator {
    bottom: 1px;
  }
}